<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="com.cx"/>

    <!--创建连接工厂 -->
    <bean id="connectionFactoryOne" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.2.162:61616"></property>
        <property name="redeliveryPolicy" ref="activeMQRedeliveryPolicy" />  <!-- 引用重发机制 -->
    </bean>

    <!-- 声明ActiveMQ消息目标,目标可以是一个队列，也可以是一个主题ActiveMQTopic -->
    <!--此消息目标是 点对点-->
    <bean id="destinationOne" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0" value="testQueOne"></constructor-arg>
    </bean>

    <!-- 设置 消息目的地 start -->
    <bean id="jmsTemplateOne" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactoryOne"></property>
        <property name="defaultDestination" ref="destinationOne"></property>
        <property name="receiveTimeout" value="6000"></property>
    </bean>
    <!-- 设置 消息目的地 end -->


    <!-- 定义ReDelivery(重发机制)机制 ，重发时间间隔是100毫秒，最大重发次数是3次 http://www.kuqin.com/shuoit/20140419/339344.html -->
    <bean id="activeMQRedeliveryPolicy" class="org.apache.activemq.RedeliveryPolicy">
        <!--是否在每次尝试重新发送失败后,增长这个等待时间 -->
        <property name="useExponentialBackOff" value="true"></property>
        <!--重发次数,默认为6次   这里设置为1次 -->
        <property name="maximumRedeliveries" value="1"></property>
        <!--重发时间间隔,默认为1秒 -->
        <property name="initialRedeliveryDelay" value="1000"></property>
        <!--第一次失败后重新发送之前等待500毫秒,第二次失败再等待500 * 2毫秒,这里的2就是value -->
        <property name="backOffMultiplier" value="2"></property>
        <!--最大传送延迟，只在useExponentialBackOff为true时有效（V5.5），假设首次重连间隔为10ms，倍数为2，那么第
            二次重连时间间隔为 20ms，第三次重连时间间隔为40ms，当重连时间间隔大的最大重连时间间隔时，以后每次重连时间间隔都为最大重连时间间隔。 -->
        <property name="maximumRedeliveryDelay" value="1000"></property>
    </bean>


    <!-- 配置消费者 start -->
    <bean id="receiverOne" class="com.cx.utils.activemqack.ReceiverOne">
        <!-- <property name="jmsTemplate" ref="jmsTemplate"></property> -->
    </bean>
    <!-- 配置消费者 end -->

    <!-- 消息监听器 -->
    <bean id="consumerMessageListenerOfOne" class="com.cx.utils.activemqack.ReceiverOne" />

    <!-- 消息监听容器 消息接收监听器用于异步接收消息 -->
    <bean id="jmsContainerOne" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactoryOne" />
        <property name="destination" ref="destinationOne" />
        <property name="messageListener" ref="consumerMessageListenerOfOne" />
        <property name="sessionAcknowledgeMode" value="4"></property> <!--表示只确认"单条消息",无论在任何ACK_MODE下-->
    </bean>
</beans>