<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybaties.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.dao.OpenRecordDao">

    <resultMap id="openRecordMap" type="com.cx.bean.OpenRecord">
        <id column="id"  property="id" />
        <result column="apply_no"  property="applyNo" />
        <result column="scene_id"  property="sceneId" />
        <result column="interface_name"  property="interfaceName" />
        <result column="interface_type"  property="interfaceType" />
        <result column="name"  property="name" />
        <result column="mobile"  property="mobile" />
        <result column="cid"  property="cid" />
        <result column="param"  property="param" />
        <result column="result"  property="result" />
        <result column="status"  property="status" />
        <result column="remark"  property="remark" />
        <result column="create_time"  property="createTime" />
    </resultMap>

    <select id="getRecord" resultMap="openRecordMap">
        select * from open_record
    </select>

    <update id="updateOpenTest" parameterType="java.util.Map">
        UPDATE open_test set

                callback_time = now()

        where id = 1
    </update>
</mapper>